<!DOCTYPE html>
<html>
<head>
	<title>Video Editor</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="javascripts/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/socket.io-stream.js"></script>
	<script type="text/javascript" src="javascripts/scripts.js"></script>
</head>
<body>

</body>
</html>

<div id="media-area" class="ui-area">
    <form ref='uploadForm' 
        id='uploadForm' 
        action='/upload' 
        method='POST' 
        encType="multipart/form-data">
            <input type="file" name="files" multiple/>
            <input type='submit' value='Upload!' />
    </form>	

	<div id="media-library" class="clearfix">
		{{#videos}}
			<div class="media video" data-id="" data-filepath="{{filepath}}" data-duration="{{metadata.format.duration}}">
				<img src="{{thumbnail}}" draggable="false">
				<h4 class="media-name">{{filename}}</h4>
			</div>
		{{/videos}}
	</div>
</div>

<div id="preview-area" class="ui-area">
	<video id="preview-current" class="preview-video" src="" controls></video>
	<video id="preview-final" class="preview-video" src="" controls></video>
</div>

<div id="timeline-area" class="ui-area">
	<div id="timeline-controls" class="ui-area">
		Zoom:
		<button id="zoom-plus" class="zoom-button" data-amount="0.1">+</button>
		<button id="zoom-minus" class="zoom-button" data-amount="-0.1">-</button>

		<button id="add-layer">Add Layer</button>		

		<button id="render">RENDER</button>
		<button id="play">Play</button>
	</div>
	<div id="timeline-holder" class="ui-area">
		<div id="timeline" data-zoom="1" data-markerdensity="1.5" data-duration="600" data-layerwidth="200">
			<div class="layer"></div>			
		</div>
	</div>
</div>
