<!DOCTYPE html>
<html>
<head>
	<title>Video Editor</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="javascripts/scripts.js"></script>
</head>
<body>

</body>
</html>

<div id="media-area" class="ui-area">
	<div id="media-library" class="clearfix">
		{{#videos}}
			<div class="media video">
				<img src="videos/user/videoid/thumbnail.png" draggable="false">
				{{name}}
			</div>
		{{/videos}}
	</div>
</div>

<div id="preview-area" class="ui-area">
	<video id="preview-final" class="preview-video" src="videos/video1.mp4" controls></video>
	<video id="preview-current" class="preview-video" src="videos/video1.mp4" controls></video>
</div>

<div id="timeline-area" class="ui-area">
	<div id="timeline-controls" class="ui-area">
		Zoom:
		<button id="zoom-plus" class="zoom-button" data-ammount="0.1">+</button>
		<button id="zoom-minus" class="zoom-button" data-ammount="-0.1">-</button>
	</div>
	<div id="timeline-holder" class="ui-area">
		<div id="timeline" data-zoom="1" data-markerdensity="1.5" data-duration="600" data-layerwidth="200">
			<div class="layer">
				<div class="layer-media" data-id="videoid" data-start="10" data-duration="100" style="background-image: url(/videos/user/videoid/thumbnail.png)"></div>
			</div>			
		</div>
	</div>
</div>
