body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #00B7FF;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.video_thumb{
  width:320px;
  height:240px;
}

.media-preview{
  width:100% !important;
  height:100% !important;
}

.video{
  float: left;
  margin:5px;

}

.video img{
  display:block;
}

#media-row{
  height:60%;
}

#timeline-row{
  height:200px;   
  bottom:0px;
  position:absolute;
  width:100%;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
  box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
  margin:0px;
}

#timeline-container{
  overflow-x:scroll;
  /*border-left: 1px solid #121212;*/
  padding-left: 0px;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
  box-shadow: 0px 0px 5px 1px rgba(107,107,107,1);
}

#media-row .col, #timeline-row .col{
  height: 100%;
}

#editor{
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#timeline{
  padding: 20px 0 0;
  width: 1000%;
  overflow: hidden;
}

.media-container{
  max-height: 100%;
  overflow-y: scroll;
}

.timeline-media{
  height: 100%;
  width:1000px;
  position:absolute !important;
  top:0px;
  opacity:0.6;
  background-color:#444444;
  background-repeat:space;
  background-size:auto 100%;
  z-index:100;
}

.timeline-layer{
  position: relative;
  height: 80px;
  border-bottom:1px dotted #eee;
  border-top:1px dotted #eee;
}

.time-indicator{
  height:100%;
  width:100px;
  float:left;
  position:relative;
}

.time-indicator div{
  height:30%;
  text-align:center;
  position: relative;
  left:50%;
}

.time-indicator div.time-text{
  color: #121212;
  text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

.time-indicator div.vert-line{
  border-right:1px solid #121212;
  width:50%;
}

.video.ui-draggable-dragging{
  transform:scale(0.5);
}

#timeline-marker{
  height: 100%;
  width:0;
  border:1px solid red;
  position:absolute;
  top:0px;
  left:0px;
}

#timeline-handle{
  cursor:pointer;
  margin-left:-15px;
  margin-top:-1px;
  border-top:15px solid red;
  border-right:15px solid transparent;
  border-bottom:15px solid transparent;
  border-left:15px solid transparent;
}

.video-layer{
  background: rgba(115, 100, 255, 0.5);
}

.audio-layer{
  background: rgba(255, 198, 100, 0.5);
}

#player-controls{
  width:50%;
  margin:5px auto;
  display:block;
}

#player-controls .btn{
  width:33%;
}