body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

*{
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;    
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.ui-area { 
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

#media-area,
#preview-area {
  height: 80%;
  float: left;
}

#media-area {
  width: 33.33%;
}

#preview-area {
  width: 66.66%;
}

#timeline-area {
  clear: both;
  height: 20%;
  border-top: 1px solid #ccc;
  width: 100%;
}

.preview-video {
  width: 48%;
  height: 100%;
  float: left;
  margin-left: 1%;
}

.preview-video video {
  width: 100%;
}

.preview-video .timeline {
  margin-left: 0;
  height: auto;
}

#media-library {
  max-height: 100%;
  overflow: auto;
}

#media-library .media {
  float: left;
  width: 160px;
  height: 120px;
  position: relative;
  text-align: center;
  margin: 10px;
}

#media-library .media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  display: block; 
}

#media-library .media-name {
  background: white;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px;
}

.timeline-holder {
  height: 100%;
}

#timeline-controls {
  width: 300px;
  float: left;
  height: 100%;
}

.timeline {
  margin-left: 300px;
  overflow-x: auto;
  height: 100%;
  position: relative;
}

.timeline .layer {
  width: 2000px;
  height: 60px;

  -webkit-box-shadow: 1px 1px 1px 1px #464545;
  -moz-box-shadow: 1px 1px 1px 1px #464545;
  box-shadow: 1px 1px 1px 1px #464545;

  background: #dedede;
  position: relative;
}

.timeline .layer:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  top: 0;
  left :0;
}

.timeline-ruler {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 0.8em;
  opacity: 0.7;
  z-index:0;
  overflow: hidden;
}

.ruler-marker {
  width: 1px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  margin-top: -15px;
  position: absolute;
    display: flex;
  justify-content: center;
  opacity: 0.7;
  margin-left: -1px;
}

.ruler-marker:before, 
.ruler-marker:after {
  display: block;
  content: "";
  height: 20px;
  width: 0px;
  border: 1px solid black;
  position: absolute;
  left: 0;
}

.ruler-marker:before {
  bottom: 100%;
} 

.ruler-marker:after {
  top: 100%;
}

.ruler-marker.big {
  margin-left: -2px;
}

.ruler-marker.big:before, 
.ruler-marker.big:after {
  border: 2px solid black;
}

.ruler-marker.big:before {
  bottom: 90%;
}
.ruler-marker.big:after {
  top: 90%;
}

.layer-media {
  height: 60px;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 500px;
  background-size: auto 100%;
  z-index: 5;
  opacity: 0.5;
  -webkit-box-shadow: inset 0px 0px 1px 0.5px rgba(225, 225, 225, 0.8);
  -moz-box-shadow: inset 0px 0px 1px 0.5px rgba(225, 225, 225, 0.8);
  box-shadow: inset 0px 0px 1px 0.5px rgba(225, 225, 225, 0.8);
}

.layer-media.selected,
.media.selected:after {
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(105,255,105,0.8);
  -moz-box-shadow: inset 0px 0px 5px 5px rgba(105,255,105,0.8);
  box-shadow: inset 0px 0px 5px 5px rgba(105,255,105,0.8);
}

.time-marker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 10px;
  height: 100%;
  cursor: pointer;
  opacity: 0.7;
  margin-left: -5px;
}

.time-marker .line {
  position: absolute;
  top: 0;
  left: 4px;
  z-index: 100;
  background: red;
  width: 2px;
  height: 100%;
}

.time-marker:after,
.time-marker:before {
  position: absolute;
  display: block;
  z-index: 100;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.time-marker:after{
  bottom: 0;
  border-bottom: 5px solid red;
}

.time-marker:before{
  top: 0;
  border-top: 5px solid red;
}

.timeline-selection {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background: #7b9de8;
  border-left: 1px solid #3b71ea;
  border-right: 1px solid #3b71ea;
  opacity: 0.4;
}